* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Source Serif Pro', serif;
    color: white;
    text-align: center;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

li {
    background-color: black;
    font-family: 'Bitter', serif;
    font-size: 1.875rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 10%;
    padding: 2% 5%;
}

a {
    color: white;
    text-decoration: none;
}

.carta {
    display: flex;

    width: 100%;
}
.contenedor {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    margin: 5% 0% 5% 5%;
}

.titulo {
    font-family: 'Bitter', serif;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4%;
}



.caja {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.bebidas {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

p {
    font-family: 'Bitter', serif;
    color: white;
}

.parrafo {
    font-family: 'Bitter', serif;
    color: white;
}

.textoFino {
    font-weight: 100;
}

.precio {
    color: white;
    font-family: 'Bitter', serif;
    text-align: end;
}

.menu {
    position: absolute;
    top: 80%;
    bottom: 30%;
    left: 85%;
    right: 15%;
    font-family: 'Bitter', serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    color: white;
    font-weight: lighter;
}

.menu2 {
    position: relative;
    bottom: 22%;
    left: 85%;
    font-family: 'Bitter', serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    color: white;
    font-weight: lighter;
}


footer {
    display: flex;
}
